<div class="bi-footer-cta position-relative">
  <div>
    <div
      class="bi-footer-cta-content headline d-flex align-items-center justify-content-between flex-wrap"
      data-background="assets/img/bg/cta-bg.jpg"
      style="width: 100%"
    >
      <div class="bi-footer-cta-text">
        <h3>Tasarım partneri mi arıyosun?</h3>
      </div>
      <div class="bi-cta-btn">
        <div class="bi-btn-1 bi-btn-area text-uppercase">
          <a class="bi-btn-main bi-btn-hover bi-btn-item" href="iletisim.html">
            <span></span> Iletişime geç</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="bi-footer-2" class="bi-footer-section-2">
  <div class="bi-footer-cta-2">
    <div class="container">
      <div
        class="bi-footer-cta-content-2 d-flex justify-content-between align-items-center"
      >
        <div
          class="bi-footer-cta-social-area d-flex align-items-center justify-content-between"
        >
          <div class="bi-footer-cta-text d-flex align-items-center">
            <div
              class="inner-icon d-flex justify-content-center align-items-center"
            >
              <i class="fas fa-phone"></i>
            </div>
            <div class="inner-text">
              <span>Destek Hattı</span>
              <a href="#">0850 309 39 64</a>
            </div>
          </div>
          <div class="bi-footer-cta-social ul-li">
            <ul>
              <li>
                <a href="https://www.instagram.com/hashtag.medya/">
                  <i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/company/hashtag-medya-dijital-pazarlama-ve-reklam-ajans%C4%B1/"
                >
                  <i class="fab fa-linkedin-in"></i
                ></a>
              </li>
              <li>
                <a href="https://www.facebook.com/hashtagmedyatr/">
                  <i class="fab fa-facebook"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="bi-footer-newslatter-form d-flex justify-content-between">
          <span>Abone ol</span>
          <div class="bi-footer-newslatter position-relative">
            <form action="subscribe.php" method="post">
              <input
                type="email"
                name="email"
                placeholder="Email adresiniz..."
              />
              <input type="hidden" name="subject" value="Abone ol" />
              <button>Gönder</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bi-footer-widget-content-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="bi-footer-widget-2">
            <div class="logo-widget">
              <div class="brand-logo">
                <a href="#"><img src="assets/img/logo/logo2.png" alt="" /></a>
              </div>
              <div class="logo-info">
                Dijital dünyadaki varlığınızı Hashtag Medya'nın kurumsal
                çözümleri ile arttırın!.
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="bi-footer-widget-2 headline ul-li-block">
            <div class="menu-widget">
              <h3 class="widget-title">Hızlı Menü</h3>
              <ul>
                <li><a href="sss.html">Manifesto</a></li>
                <li><a href="sss.html">İş Olanakları</a></li>
                <li><a href="sss.html">SSS</a></li>
                <li><a href="sss.html">İletişim</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bi-footer-copyright-2">
    <div class="container">
      <div class="bi-footer-copyright-content-2 text-center">
        © Copyright 2024 <a href="#">Hashtag Medya</a> Tüm Hakları Saklıdır.
      </div>
    </div>
  </div>
</footer>
