<header id="bi-header" class="bi-header-section header-style-two">
  <div class="bi-header-content">
    <div class="bi-header-logo-main-menu d-flex align-items-center justify-content-between">
      <div class="brand-logo">
        <a href="index.html"><img src="assets/img/logo/logo2.png" alt="" /></a>
      </div>
      <div class="bi-header-main-navigation">
        <nav class="main-navigation clearfix ul-li">
          <ul id="main-nav" class="nav navbar-nav clearfix">
            <li><a href="index.html">Anasayfa</a></li>
            <li class="dropdown">
              <a href="#">Kurumsal</a>
              <ul class="dropdown-menu clearfix">
                <li><a href="hakkimizda.html">Hakkımızda</a></li>
                <li><a href="manifesto.html">Manifesto</a></li>
                <li><a href="kariyer.html">Kariyer</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#">Hizmetlerimiz</a>
              <ul class="dropdown-menu clearfix" style="width: 24rem !important" id="categories-menu-desktop">
                <li class="dropdown">
                  <a>Kreatif Hizmetlerimiz</a>

                  <ul class="dropdown-menu clearfix" style="width: 20rem !important">
                    <li>
                      <a href="portfolio.html?subCategoryId=1&amp;subCategory=Logo Tasarımı">Logo Tasarımı</a>
                    </li>
                    <li>
                      <a href="portfolio.html?subCategoryId=2&amp;subCategory=Grafik Tasarımı">Grafik Tasarımı</a>
                    </li>
                    <li>
                      <a href="portfolio.html?subCategoryId=3&amp;subCategory=Kurumsal Kimlik Tasarımı">Kurumsal Kimlik
                        Tasarımı</a>
                    </li>
                    <li>
                      <a href="video-produksiyon.html">Video Prodüksiyon</a>
                    </li>
                    <li>
                      <a href="portfolio.html?subCategoryId=5&amp;subCategory=Ürün Fotoğrafçılığı">Ürün
                        Fotoğrafçılığı</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a>Yazılım Hizmetlerimiz</a>

                  <ul class="dropdown-menu clearfix" style="width: 20rem !important">
                    <li>
                      <a href="portfolio.html?subCategoryId=6&amp;subCategory=Mobil Uygulama Tasarımı">Mobil Uygulama
                        Tasarımı</a>
                    </li>
                    <li>
                      <a href="portfolio.html?subCategoryId=7&amp;subCategory=Web Sitesi Tasarımı">Web Sitesi
                        Tasarımı</a>
                    </li>
                    <li>
                      <a href="eticaret.html">E-Ticaret Sitesi</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a>İnternet Reklamcılığı</a>

                  <ul class="dropdown-menu clearfix" style="width: 20rem !important">
                    <li>
                      <a href="google-reklamlari.html">Google Reklamları</a>
                    </li>
                    <li>
                      <a href="e-posta-pazarlama.html">E-Posta Pazarlama</a>
                    </li>
                    <li>
                      <a href="meta-reklamlari.html">Meta Reklamları</a>
                    </li>
                    <li>
                      <a href="influencer-marketing.html">Influencer Pazarlama</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a>Danışmanlık Hizmetlerimiz</a>

                  <ul class="dropdown-menu clearfix" style="width: 20rem !important">
                    <li>
                      <a href="sosyalmedya.html">Sosyal Medya
                        Yönetimi</a>
                    </li>

                    <li>
                      <a href="icerikpazarlama.html">İçerik
                        Pazarlama Danışmanlığı</a>
                    </li>
                    <li>
                      <a href="portfolio.html?subCategoryId=16&amp;subCategory=Marka Danışmanlığı">Marka
                        Danışmanlığı</a>
                    </li>
                    <li>
                      <a href="dijital-pr.html">Dijital PR Danışmanlığı</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <a href="referanslarımız.html?subCategoryId=all">Referanslarımız</a>
            </li>
            <li><a href="bloglar.html">Blog</a></li>
            <li><a href="iletisim.html">İletişim</a></li>
          </ul>
        </nav>
      </div>
      <div class="bi-header-cta-btn-grp d-flex align-items-center">
        <div class="cta-btn-info d-flex align-items-center">
          <div class="inner-icon d-flex justify-content-center align-items-center">
            <i class="fas fa-phone"></i>
          </div>
          <div class="inner-text">
            <span>Bizi Arayın</span>
            <a style="white-space: nowrap" href="tel:+90 322 911 03 85">0850 309 39 64</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile_menu position-relative">
      <div class="mobile_menu_button open_mobile_menu">
        <i class="fal fa-bars"></i>
      </div>
      <div class="mobile_menu_wrap">
        <div class="mobile_menu_overlay open_mobile_menu"></div>
        <div class="mobile_menu_content">
          <div class="mobile_menu_close open_mobile_menu">
            <i class="fal fa-times"></i>
          </div>
          <div class="m-brand-logo">
            <a href="!#"><img src="assets/img/logo/logo2.png" alt="" /></a>
          </div>
          <nav class="mobile-main-navigation clearfix ul-li">
            <ul id="m-main-nav" class="nav navbar-nav clearfix">
              <li><a href="index.html">Anasayfa</a></li>
              <li class="dropdown">
                <a href="#">Kurumsal</a>
                <ul class="dropdown-menu clearfix">
                  <li>
                    <a href="hakkımızda.html" target="_blank">Hakkımızda</a>
                  </li>
                  <li><a href="#" target="_blank">Manifesto</a></li>
                  <li><a href="kariyer.html" target="_blank">Kariyer</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">Hizmetlerimiz</a>
                <ul class="dropdown-menu clearfix" id="categories-menu-mobile"></ul>
              </li>
              <li><a href="referanslarımız.html">REFERANSLARIMIZ</a></li>
              <li><a href="bloglar.html">BLOG</a></li>
              <li><a href="iletisim.html">İLETİŞİM</a></li>
            </ul>
          </nav>
          <div class="bi-mobile-header-social text-center">
            <a href="#"> <i class="fab fa-instagram"></i></a>
            <a href="#"> <i class="fab fa-linkedin-in"></i></a>
            <a href="#"> <i class="fab fa-facebook"></i></a>
            <a href="#"> <i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <!-- /Mobile-Menu -->
    </div>
  </div>
</header>